*{
    margin:0;
    padding: 0;
}

a{
    text-decoration: none;
    color:#fff;
}

body{
    background-color:#222;
    font-family: Verdana;
    font-size: 100%;
}

.container{
    margin:auto;
    width: 1200px;
    margin-top:20px;
    padding: 10px;
}

nav{
    
    width: 300px;
    height: 500px;
    background-color: #444;
    float: left;
    margin-left: 60px;
    margin-top:40px;
    box-sizing: border-box;
    padding: 10px;
    box-shadow:1px 0px 4px black;
}

section{
    width:900px;
    height: 500px;
    margin-left: 10px;
    float: left;
    background-color:#fff;
    margin-top:40px;
    box-sizing: border-box;
    padding-left: 10px;
}

h1{
    text-align: center;
    box-sizing: border-box;
    background-color: #444;
    height:75px;
    width:900px;
    margin-left: -10px;
    color:#fff;
    padding-top: 20px;
    box-shadow:1px 0px 4px black 
}

.menu{
    margin-left: -10px;
}
ul.menu{
    list-style-type: none;

}
ul.menu li{
    width: 300px;
    height: 50px;
    line-height: 50px;
    background-color:#777;
    color:#fff;
    margin-top: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    box-shadow:1px 0px 4px black;
}

.btn{
    width: 100px;
    height: 30px;
    border: 1px solid #ddd;
    background-color: steelblue;
    color:#fff;
    cursor: pointer;
    
}

.campo{
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 10px;
}